In [14]:
import xgboost as xgb

from sklearn import datasets

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import LabelEncoder 

from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score

In [43]:
def is_categorical(array_like):
    return array_like.dtype.name == 'object'

In [31]:
iris_dataset = pd.read_csv("..\Datasets\iris.csv")
house_dataset = pd.read_csv("..\Datasets\house_prediction_train.csv")

In [36]:
house_dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [47]:
for column in house_dataset.columns:
    print(column, is_categorical(house_dataset[column]))

Id False
MSSubClass False
MSZoning True
LotFrontage False
LotArea False
Street True
Alley True
LotShape True
LandContour True
Utilities True
LotConfig True
LandSlope True
Neighborhood True
Condition1 True
Condition2 True
BldgType True
HouseStyle True
OverallQual False
OverallCond False
YearBuilt False
YearRemodAdd False
RoofStyle True
RoofMatl True
Exterior1st True
Exterior2nd True
MasVnrType True
MasVnrArea False
ExterQual True
ExterCond True
Foundation True
BsmtQual True
BsmtCond True
BsmtExposure True
BsmtFinType1 True
BsmtFinSF1 False
BsmtFinType2 True
BsmtFinSF2 False
BsmtUnfSF False
TotalBsmtSF False
Heating True
HeatingQC True
CentralAir True
Electrical True
1stFlrSF False
2ndFlrSF False
LowQualFinSF False
GrLivArea False
BsmtFullBath False
BsmtHalfBath False
FullBath False
HalfBath False
BedroomAbvGr False
KitchenAbvGr False
KitchenQual True
TotRmsAbvGrd False
Functional True
Fireplaces False
FireplaceQu True
GarageType True
GarageYrBlt False
GarageFinish True
GarageCars False
GarageArea False
GarageQual True
GarageCond True
PavedDrive True
WoodDeckSF False
OpenPorchSF False
EnclosedPorch False
3SsnPorch False
ScreenPorch False
PoolArea False
PoolQC True
Fence True
MiscFeature True
MiscVal False
MoSold False
YrSold False
SaleType True
SaleCondition True
SalePrice False

In [35]:
y.dtype

dtype('O')

In [32]:
iris = iris_dataset.drop("variety", axis=1)

y = iris_dataset["variety"]

In [21]:
lc = LabelEncoder() 

lc = lc.fit(y) 

y = lc.transform(y)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(iris, y, test_size=0.2, random_state=5)

In [23]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [24]:
model = XGBClassifier() 

model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [25]:
y_pred = model.predict(X_test) 

predictions = [round(value) for value in y_pred]

In [28]:
accuracy = accuracy_score(y_test, predictions) 

print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 90.00%

In [3]:
def get_categorical_columns(df):
    return list(df.select_dtypes(['category']).columns.values)

In [7]:
house_dataset.select_dtypes(exclude = ['number'])

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
3,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
4,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1456,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
1457,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,Norm,...,Attchd,RFn,TA,TA,Y,NaN,GdPrv,Shed,WD,Normal
1458,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1459,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Edwards,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [13]:
iris_dataset.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [32]:
iris_dataset['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [33]:
label2int = {
    "Setosa":1,
    "Versicolor":2,
    "Virginica":3
}

iris_dataset['variety'] = iris_dataset['variety'].map(label2int)\

In [56]:
def get_missing_values(dataframe):
    missing_values = dataframe.isnull().sum().sort_values(ascending=False)
    missing_percentage = (dataframe.isnull().sum()/dataframe.isnull().count()).sort_values(ascending=False)
    print(missing_percentage)
    return pd.concat([missing_values, missing_percentage], axis=1, keys=["Total", "percent"])

In [57]:
get_missing_values(house_dataset)

PoolQC           0.995205
MiscFeature      0.963014
Alley            0.937671
Fence            0.807534
FireplaceQu      0.472603
                   ...
CentralAir       0.000000
SaleCondition    0.000000
Heating          0.000000
TotalBsmtSF      0.000000
Id               0.000000
Length: 81, dtype: float64

               Total   percent
PoolQC          1453  0.995205
MiscFeature     1406  0.963014
Alley           1369  0.937671
Fence           1179  0.807534
FireplaceQu      690  0.472603
...              ...       ...
CentralAir         0  0.000000
SaleCondition      0  0.000000
Heating            0  0.000000
TotalBsmtSF        0  0.000000
Id                 0  0.000000

[81 rows x 2 columns]

In [34]:
corr_matrix = iris_dataset.corr()
corr_matrix

              sepal.length  sepal.width  petal.length  petal.width   variety
sepal.length      1.000000    -0.117570      0.871754     0.817941  0.782561
sepal.width      -0.117570     1.000000     -0.428440    -0.366126 -0.426658
petal.length      0.871754    -0.428440      1.000000     0.962865  0.949035
petal.width       0.817941    -0.366126      0.962865     1.000000  0.956547
variety           0.782561    -0.426658      0.949035     0.956547  1.000000

In [44]:
variety_pos = corr_matrix['variety'][corr_matrix['variety'] > 0]

In [42]:
pos_data = variety_pos.iloc[:-1].sort_values(ascending=False)

In [53]:
type(pos_data)

pandas.core.series.Series

In [74]:
new_df = pd.DataFrame(pos_data).rename(columns={'variety': 'Correlation'})

In [75]:
new_df

              Correlation
petal.width      0.956547
petal.length     0.949035
sepal.length     0.782561