In [30]:
import pandas as pd

In [31]:
iris_dataset = pd.read_csv("..\Datasets\iris.csv")
house_dataset = pd.read_csv("..\Datasets\house_prediction_train.csv")

In [13]:
iris_dataset.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [32]:
iris_dataset['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [33]:
label2int = {
    "Setosa":1,
    "Versicolor":2,
    "Virginica":3
}

iris_dataset['variety'] = iris_dataset['variety'].map(label2int)\

In [18]:
def get_missing_values(dataframe):
    missing_values = dataframe.isnull().sum().sort_values(ascending=False)
    missing_percentage = (dataframe.isnull().sum()/dataframe.isnull().count()).sort_values(ascending=False)
    print(missing_percentage[0])
    return pd.concat([missing_values, missing_percentage], axis=1, keys=["Total", "percent"])

In [14]:
get_missing_values(house_dataset)

NameError: name 'get_missing_values' is not defined

In [34]:
corr_matrix = iris_dataset.corr()
corr_matrix

              sepal.length  sepal.width  petal.length  petal.width   variety
sepal.length      1.000000    -0.117570      0.871754     0.817941  0.782561
sepal.width      -0.117570     1.000000     -0.428440    -0.366126 -0.426658
petal.length      0.871754    -0.428440      1.000000     0.962865  0.949035
petal.width       0.817941    -0.366126      0.962865     1.000000  0.956547
variety           0.782561    -0.426658      0.949035     0.956547  1.000000

In [35]:
variety_pos = corr_matrix['variety'][corr_matrix['variety'] > 0]

In [37]:
pos_data = variety_pos.iloc[:-1].sort_values(ascending=False)
pos_data

petal.width     0.956547
petal.length    0.949035
sepal.length    0.782561
Name: variety, dtype: float64

In [38]:
pd.DataFrame(pos_data, column = ['Attribute', 'Correlation'])

TypeError: __init__() got an unexpected keyword argument 'column'